body {
    min-width: 700px;
    width: 40%;
    margin: 2em auto;
}
.tree {
    display: inline-block;
    vertical-align: text-top;
    border-collapse: collapse;

    text-align: center;

    table-layout: fixed;
    border: 0px solid black;
    border-top-width: 2px;
}
.treecell {
    margin: 0px;
    padding: 8px;
    border: 0px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
}
.occupied {
    border-left-width: 2px;
    border-right-width: 2px;
}
.leaf {
    border-bottom-width: 2px;
}
.code {
    font-family: monospace;
    font-size: 16pt;
}
pre.code {
    padding: 8px;
    display: inline-block;
    border: 2px solid black;
}
pre {
    margin: 0px;
}
.editable {
    background-color: #ffff88;
}
div.match {
    display: inline-block;
    background-color: white;
}
.matches {
    border: 2px solid black;
    margin: 2px;
}
/*
.matches td {
    border: 2px solid white;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
*/
.nobr {
    white-space: nowrap;
}
h3 {
    margin: 2px;
}
.errs {
    background-color: red;
    margin-left: 2em;
    padding: 16px;
    margin-top: 2px;
    display: none;
    position: absolute;
}
.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}
.match {
    background-color: #8f8;
}
.block {
    display: inline-block;
}
